<div class="container">
    <h1>Angular Camera App</h1>
    <video #videoElement autoplay></video>
    <canvas #canvasElement></canvas>
    <button (click)="capture()">Capturar foto</button>
    <button *ngIf="(user$ | async) === null" (click)="login()">Iniciar sesión</button>
    <button *ngIf="(user$ | async) !== null" (click)="logout()">Cerrar sesión</button>
    <button *ngIf="(user$ | async) !== null" (click)="uploadImage()">Subir foto</button>
    <table *ngIf="images.length > 0">
        <thead>
            <tr>
                <th>Imagen</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let image of images">
                <td><img [attr.src]="image" width="100" height="100" /></td>
            </tr>
        </tbody>
    </table>
</div>